body
{
	background-color: #e5e5e5;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	width: 100%;
}

html, body
{
	min-height: 100%;
}

.container
{
	width: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom:-29px;
}

.form { margin-top: 100px; }
.form_reg { margin-top: 40px; }

.txt { margin: 10px 0 0 0; }
label { margin: 0; }
input[type=checkbox] { margin: 0 10px 0 5px; }

input[type=text],
input[type=email],
input[type=password]
{
	background-color: #efefef;
	box-sizing: border-box;
	outline: none;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 7px;
	padding: 10px;
	margin-top: 10px;
	font-size: 20px;
}

.content { word-break: break-all; }

input[type=submit]
{
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	background-color: #119977;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #118866;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 5px 1px rgba(102,204,153,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(102,204,153,1);
	box-shadow: 0px 0px 5px 1px rgba(102,204,153,1);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus
{
	border: 2px solid #99cc99;
	background-color: #e6f3e9;
	color: #666;
}

.bg-custom
{
	background-color: #118866;
	padding: 8px 40px;
}

.navbar > a
{
	font-size: 22px;
}

.register > a { text-decoration: none; color:#082b08  }
.register > a:hover { text-decoration: none; opacity: 0.8; }

.nav-link
{
	font-size: 18px;
	color: #fff!important;
}

.nav-link:hover { transform: scale(1.05); transform: rotateY(360deg); transition: 1.5s; }

.footer
{
	background-color: #118866;
	margin-top: 191px;
	
}

.reserved
{
	height: 30px;
	line-height: 45px;
}









